Repository spectrumx/sds-code, pull requests merged in 2025-06, with the labels that each got.

#110 Removed octet mime restriction to allow sigmf-data files
  sdk/src/spectrumx/ops/files.py
  sdk/tests/integration/test_file_ops.py
Labels: feature, sdk

#119 File list filter tweaks
  gateway/sds_gateway/static/js/file-list.js
  gateway/sds_gateway/templates/users/file_list.html
Labels: gateway, styling

#124 Fixed images not displaying correctly
  gateway/compose/production/nginx/nginx-default.conf
Labels: bug, gateway

#125 ticket 209 and modal
  gateway/sds_gateway/static/css/file-list.css
  gateway/sds_gateway/static/js/file-list.js
  gateway/sds_gateway/templates/users/file_list.html
  gateway/sds_gateway/users/views.py
Labels: bug, gateway, styling, javascript
