Repository spectrumx/sds-code, pull requests merged in 2025-03, with the labels that each got.

#63 Login redirect, API doc access fixes
  gateway/config/settings/base.py
  gateway/config/urls.py
  gateway/sds_gateway/templates/pages/home.html
  gateway/sds_gateway/users/api/views.py
  gateway/sds_gateway/users/mixins.py
  gateway/sds_gateway/users/views.py
Labels: bug, documentation, gateway

#65 Gateway hotfix: corrected unintentional settings override for prod storage
  gateway/config/settings/production.py
Labels: bug

#68 Revert "Opensearch roles setup fix"
  gateway/compose/production/opensearch/config/roles.yml
Labels: bug, gateway

#70 Fix SDK capture integration tests
  sdk/tests/integration/data/captures/radiohound-update/reference-v0-addendum.rh.json
  sdk/tests/integration/data/captures/radiohound-update/reference-v0.rh.json
  sdk/tests/integration/test_captures.py
Labels: bug, ci/cd, sdk
