Repository spectrumx/sds-code, pull requests merged in 2025-02, with the labels that each got.

#46 Auth0 Login Streamlined
  gateway/config/settings/base.py
  gateway/sds_gateway/templates/base.html
  gateway/sds_gateway/templates/pages/home.html
  gateway/sds_gateway/users/views.py
Labels: refactoring, gateway

#47 comment out opensearch health check and index init
  gateway/compose.production.yaml
  gateway/compose/production/django/start
Labels: bug

#48 Templating fix and validation procedure documented
  gateway/README.md
  gateway/config/settings/base.py
  gateway/config/settings/local.py
  gateway/pyproject.toml
  gateway/requirements/base.txt
  gateway/sds_gateway/templates/500.html
  gateway/uv.lock
Labels: bug, documentation, gateway

#51 Comment out index init command on app startup (for now)
  gateway/compose/production/django/start
Labels: bug

#52 added signout menu option
  gateway/sds_gateway/templates/base.html
Labels: gateway

#54 removed app generation from settings
  gateway/config/settings/base.py
Labels: bug, gateway

#56 Fix Custom Security Configuration
  gateway/.envs/example/opensearch.env
  gateway/README.md
  gateway/compose.production.yaml
  gateway/compose/production/django/start
  gateway/compose/production/opensearch/Dockerfile
  gateway/compose/production/opensearch/config/internal_users.yml
  gateway/compose/production/opensearch/config/roles.yml
  gateway/compose/production/opensearch/config/roles_mapping.yml
  gateway/compose/production/opensearch/init-security.sh
  gateway/compose/production/opensearch/opensearch.yaml
  gateway/opensearch/generate_certs.sh
Labels: bug, documentation, refactoring, gateway

#57 improved message when user has no files (added links to docs)
  gateway/sds_gateway/templates/users/file_list.html
Labels: feature, gateway

#58 Gateway: pre-commit pass
  gateway/.github/workflows/ci.yml
  gateway/config/settings/base.py
  gateway/pyproject.toml
  gateway/sds_gateway/static/css/custom.css
  gateway/sds_gateway/static/css/project.css
  gateway/sds_gateway/static/images/favicon.svg
  gateway/sds_gateway/static/images/logo.svg
  gateway/sds_gateway/static/images/nsf.svg
  gateway/sds_gateway/static/images/spectrumx-rev.svg
  gateway/sds_gateway/static/sass/_alerts.scss
  gateway/sds_gateway/static/sass/_components.scss
  gateway/sds_gateway/static/sass/_layout.scss
  gateway/sds_gateway/static/sass/_variables.scss
  gateway/sds_gateway/static/sass/custom_bootstrap_vars.scss
  gateway/sds_gateway/static/sass/project.scss
  gateway/sds_gateway/templates/account/login.html
  gateway/sds_gateway/templates/account/signup.html
  gateway/sds_gateway/templates/base.html
  gateway/sds_gateway/templates/pages/about.html
  gateway/sds_gateway/templates/pages/home.html
  gateway/sds_gateway/templates/users/file_list.html
  gateway/sds_gateway/templates/users/user_api_key.html
Labels: ci/cd, gateway
